<!-- single class based  -->
<!-- <h1 [class]="isactive?'active':'inactive'">this is class Binding </h1> -->

<!-- multipple class based and multipple conditions  -->

<!-- so in this im taken boolean in here only  -->
<!-- <h1 [class]="{'c1':true}">this is multiple class based conditions </h1> -->


<!-- so in this im taken boolean in ts file -->
<!-- <h1 [class]="{c1:applyC1,active:isactive}">this is multiple class based conditions</h1> -->

<!-- in other way in array  -->
 <h1 [class]="['c1','active']">this is multiple class based conditions</h1>

 <!-- in other way in class binding  -->
  <!-- <h1 [class.active]= isactive>this is multiple class based conditions</h1> -->